@import url("./token.less");
@import url("./status.less");

@input-prefix-cls: ~'@{prefix}-input';

.input-style() {
  display: inline-block;
  width: 100%;
  outline: medium;
  
  &-clear {
    visibility: hidden;
    position: relative;
    font-size: 14px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      height: 20px;
      width: 20px;
      transform: translate(-50%,-50%);
      border-radius: @border-radius-circle;
    }

    &:hover::before {
      background-color: @input-color-border;
    }

    &-icon {
      position: relative;
    }
  }

  &-prefix,
  &-addon-before,
  &-suffix,
  &-add-after {
    flex-shrink: 0;
    margin: 0 @input-size-margin;
  }
}

.@{input-prefix-cls} {
  .input-style();
}

.@{input-prefix-cls}-wrapper {
  display: inline-flex;
  padding: @input-spacing-vertical @input-spacing-horizontal;
  border: @input-width-border @input-shape-border @input-color-border;

  &:hover {
    border-color: @input-color-border_hover;

    .@{input-prefix-cls} {
      &-clear {
        visibility: visible;
      }
    }
  }

  &-focused {
    border-color: @input-color-border_focused;
  }

}
