@import url("./token.less");
@import url("./status.less");

@input-prefix-cls: ~'@{prefix}-input';

.input-style() {
  display: inline-block;
  width: 100%;
  outline: medium;

  &-prefix,
  &-addon-before,
  &-suffix,
  &-add-after {
    flex-shrink: 0;
    margin: 0 @input-size-margin;
  }
}

.@{input-prefix-cls} {
  .input-style();
}

.@{input-prefix-cls}-wrapper {
  display: inline-flex;
  padding: @input-spacing-vertical @input-spacing-horizontal;
  border: @input-width-border @input-shape-border @input-color-border;

  &:hover {
    border-color: @input-color-border_hover;
  }

  &-focused {
    border-color: @input-color-border_focused;
  }

}
