@import url("../../../styles/index.less");

// common
@input-spacing-vertical: @spacing-1;
@input-spacing-horizontal: @spacing-5;

// border
@input-width-border: @border-1;
@input-shape-border: @border-solid;
@input-color-border: @color-border-2;

// hover
@input-color-border_hover: @color-primary-3;

// focus
@input-color-border_focused: @color-primary-5;